.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 400px;
  margin: 0 auto;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 3rem;
}

.timerDisplay {
  text-align: center;
  font-size: 4rem;
  margin: 5rem 0 0 0;
}

.currentBlockDisplay {
  text-align: center;
  font-size: 2rem;
}

.blocks {
  height: 250px;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px sold #ccc;
  border-radius: 5px;
}

.timerButton {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  margin: 4px 2px;
  border-radius: 5px;
}

.lockButton {
  align-self: flex-end;
  margin: 0 1.5rem 1.5rem 0;
  background-color: #eee;
  border-radius: 50%;
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
}